.project-preview {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-preview__wrap {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  transition: opacity 300ms;

  &:hover {
    opacity: 0;
  }
}

.project-preview__name {
  height: 100%;
  width: 100%;
}

.project-preview__link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}