.assets__title {
  flex-basis: 100%;
}

.assets-char {
  background-color: #1a1a1a;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assets-char__name {
  margin-bottom: 16px;
  text-align: center;
}

.assets-char__icon {
  margin-bottom: 16px;
}

.assets-char__label {

}