@import "../../../scss/all";

.project {
  background: url("/img/firstcity_1.jpg") center no-repeat;
  background-size: cover;
  height: 100%;

}

.project__wrap {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 500ms;
  cursor: pointer;

  &:hover {
    opacity: 0;
  }
}

.project__name {
  font-weight: 600;
  margin: 16px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.project__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;

  @include mq-less-sm {
    display: none;
  }
}

.project__item {
  @include font-size;
  text-align: center;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}